@use "components";

@mixin section-display {
    padding: 3rem;
    align-items: center;
    margin: auto;
    max-width: 992px;

    .intro{
        h3{
            font-weight: bold;
        }
    }
}

*{
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    overflow: visible;
}


.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px darkgrey;
}

.logo{
    img{
        max-width: 9rem;
        //max-height: 7rem;
    }
}

.sec-home{
    display: flex;
    align-items: center;
    @include section-display();
    .home-cta{
        flex: 1;
        align-self: flex-start;
        margin-top: 3rem;

        .cta-text{
            color: components.$color-main;
        }

        .home-title{
            
            width: 25rem;
            font-size: 4rem;
        }

        .home-description{
            width: 25rem;
        }
    }
}

.home-img{

    img{
        width: 25rem;
    }
}

.sec-features{
    @include section-display();
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro{
        text-align: center;

        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 0.9rem;
        }
    }
    .features{
        display: flex;
        align-items: center;
        gap: 1rem;
        .text{
            padding: 2rem 0rem;
            flex: 1;
            .feature{
                display: flex;
                flex-direction: row;
                align-items: center;
                .description{
                    margin-left: 1rem;
                    max-width: 18rem;
                    .-description-title{
                        font-size: 1.25rem;

                    }
                    .text-description{
                        font-size: 1rem;
                    }
            }
        }
        }
        .image{
            img{
                width: 11rem;
            }
        }
    }
}

.sec-benefits{
    border-top: 1px solid #ccc;
    width: 100%;
    .intro{
        h3{
            font-weight: bold;
        }
        padding-bottom: 0;
        @extend .sec-features, .intro
    }

    .benefit-cards{
        padding: 4rem;
        padding-top: 0;
        width: 100%;

        .benefit{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            text-align: center;
            .description{

                .title{
                    font-weight: bold;
                }
                
                p{
                    text-align: justify;
                    padding: 0.5rem;
                }
            }
        }
        .cta{
            line-height: 28px;
        }
    }
}

.sec-kpi{
    background-color: components.$color-main;
    color: white;
    max-width: 110%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .kpi{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 1rem;
        padding-bottom: 2rem;

        h3{
            font-size: 4rem;
            margin-top: 3rem;
            margin-bottom: 0;
        }

        p{
            color: #a9c2f8;
        }
    }
}

.sec-onboarding{
    display: flex;
    flex-direction: column;
    @extend .sec-benefits;
    .intro{
        h3{
            font-size: 2.25rem;
        }
    }

    .benefit{
        .icon{
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }
}

.sec-footer-cta{
    width: 100%;
    background-color: #F5F8FF;
    display: flex;
    margin-bottom: 8rem;
    .cta-banner{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 5rem;

        h2{
            align-self: start;
            font-weight: bold;
        }

        p{
            padding-right: 3rem;
        }

        button{
            align-self: start;
        }
    }
    .image-banner{
        width: 100%;
        padding-right: 0;
        img{
            width: 100%;
        }
    }
}

footer{
    @include section-display();
    width: 100%;
    margin-bottom: 4rem;
    padding: 2rem 0 0 0;

    .footer-main{
        color: #61788E;
        margin-right: 15rem;
    
        ul{
            list-style: none;
            a{
                text-decoration: none;
                display: inline;
                margin-right: 1.25rem;
                color: #61788E;
    
                &:hover{
                    text-decoration: underline;
                }
    
            }
        }
        img{
            width: 10rem;
        }
    }

    .footer-about{
        gap: 3rem;
        padding-right: 0;
        margin-right: 0;
        .about-cont{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 10rem;

            h6{
                font-weight: bold;
                align-self: start;
            }
            ul{
                padding: 0;
                align-self: start;
                a{
                    text-decoration: none;
                    list-style: none;
                    color: #61788E;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    
    *{
        overflow-x: hidden;
        overflow-y: visible;
    }

    footer{
        padding-left: 0.75rem;
    }

    .sec-footer-cta{
        
        .cta-banner{
            
            margin: 4rem;
        }
    }    

    .sec-benefits{
        border-top: 1px solid #ccc;
        width: 100%;
        .intro{
            h3{
                font-weight: bold;
            }
            padding-bottom: 0;
            @extend .sec-features, .intro
        }
    
        .benefit-cards{
            padding: 0rem;
            padding-top: 0;
            width: 100%;

            .benefit{
                margin: 0rem;
            }
        }
    }
    .sec-features{
        overflow: visible;
    }

    h2, h3, h4{
        overflow: visible;
    }

    

    .sec-home{
        padding: 1rem;
    }
    .sec-footer-cta{
        width: 100%;
    }

    .sec-kpi{
        display: flex;
        flex-direction: column;
    }
}