
.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: beige;
    display: flex;
    /* transition: transform 1s ease-in 2s; */
    
}

.hijohijo {
    width: 50%;
    height: 50%;
    background-color: black;
}
.hijohijo2 {
    width: 50%;
    height: 50%;
    background-color: black;
    align-self: flex-end;
}

.padre:hover .hijo {
    animation: traslacion 4s ease-in-out infinite forwards alternate;
}

@keyframes traslacion {
    0% {
        background-color: beige;
        transform: translateX(0%) translateY(0%);
    }
    25%{
        transform: translateX(100%) translateY(100%);
        background-color: blueviolet;
    }
    75%{
        transform: translateX(0%) translateY(100%);
    }
    100% {
        background-color: beige;
        transform: translateX(100%) translateY(0%);
    }
}

.padre:hover .hijohijo{
    animation: traslacion2 4s ease-in-out infinite forwards alternate;
}
.padre:hover .hijohijo2{
    animation: traslacion3 4s ease-in-out infinite forwards alternate;
}
@keyframes traslacion2 {
    0% {
        background-color: black;
        transform: translateX(0%) translateY(0%);
    }
    25%{
        transform: translateX(100%) translateY(0%);
    }
    75%{
        transform: translateX(100%) translateY(100%);
    }
    100% {
        background-color: orangered;
        transform: translateX(0%) translateY(100%);
    }
}

@keyframes traslacion3 {
    0% {
        background-color: black;
        transform: translateX(0%) translateY(0%);
    }
    25%{
        transform: translateX(-100%) translateY(0%);
    }
    75%{
        transform: translateX(-100%) translateY(-100%);
    }
    100%{
        transform: translateX(0%) translateY(-100%);
        background-color: green;
    }
}